.profile {
  grid-area: p;
  background-color: blueviolet;
  color: white;
  padding: 10px;
}
.ilon {
  width: 200px;
}
a {
  display: block;
}
.name {
  vertical-align: top;
  text-align: center;
}

.me {
  display: flex;
}