body {
  background-color: skyblue;
}

.header, .sidebar, .profile {
  border-radius: 10px;
}

.wrapper {
  display: grid;
  grid-template-areas: 'h h' 's p';
  grid-gap: 10px;
  grid-template-columns: 2fr 10fr;
}
img {
  margin-right: 5px;
}